
Movie Browser.xcodeproj/xcuserdata/macbook.xcuserdatad/xcschemes/xcschememanagement.plist
Movie Browser.xcodeproj/xcuserdata/bhooshan.xcuserdatad/xcschemes/xcschememanagement.plist
Movie Browser.xcodeproj/xcuserdata/bhooshan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Movie Browser.xcodeproj/xcshareddata/xcschemes/Movie Browser.xcscheme
Movie Browser.xcodeproj/project.xcworkspace/xcuserdata/macbook.xcuserdatad/UserInterfaceState.xcuserstate
Movie Browser.xcodeproj/project.xcworkspace/xcuserdata/bhooshan.xcuserdatad/UserInterfaceState.xcuserstate
Resource/.DS_Store
Movie Browser/.DS_Store
